################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GVS/FileContentIndex
/.vs/GVS/v17
/.vs/cmake.db
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/build
